#homePage {
    overflow: hidden;

    #section1 {
        height: 90vh;
        overflow: hidden;
    }

    #section2,
    #section3,
    #section4,
    #section5,
    #section6 {
        background-color: var(--black-color);
    }

    .carousel {
        padding-bottom: 100px;
        background-color: var(--black-color);
    }
}