header {
    font-family: "Poppins", serif;
    padding: 20px 15px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            text-decoration: none;
        }

        .logo {
            a {
                color: white;
            }
        }

        nav {
            display: flex;
            align-items: center;
            gap: 30px;
            background-color: #121d1d;
            padding: 15px 50px;
            border-radius: 50px;

            a {
                color: white;
                font-size: 15px;
                transition: all 0.5s;

                &:hover {
                    color: var(--green-color);
                }
            }
        }

        .contactOur {

            a {
                padding: 15px 30px;
                background-color: #121d1d;
                color: white;
                background-color: var(--green-color);
                border-radius: 50px;
                font-size: 14px;
                transition: all 0.5s;
            }

            &:hover {
                transform: scale(1.1);

                a {
                    border: 1px solid white;
                    background-color: transparent;
                }
            }
        }
    }
}