header {
    font-family: "Poppins", serif;
    padding: 20px 15px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            text-decoration: none;
        }

        .logo {
            a {
                img {
                    width: 120px;
                }
            }
        }

        nav {
            display: flex;
            align-items: center;
            gap: 30px;
            padding: 15px 50px;
            border-radius: 50px;
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            background-color: rgba(18, 29, 29, 0.5);

            a {
                color: white;
                font-size: 15px;
                transition: all 0.5s;

                &:hover {
                    color: var(--green-color);
                }
            }

            @media only screen and (max-width: 850px) {
                padding: 15px 30px;
            }

            @media only screen and (max-width: 850px) {
                display: none;
            }
        }

        .rightAction {
            display: flex;
            align-items: center;
            gap: 25px;
            padding: 10px 20px;
            border-radius: 50px;
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            background-color: rgba(18, 29, 29, 0.5);

            img {
                width: 22px;
                cursor: pointer;

                &.menu {
                    display: none;
                }
            }


            @media only screen and (max-width: 850px) {
                a {
                    display: none;
                }

                img {
                    width: 30px;
                    cursor: pointer;
                    display: none;

                    &.menu {
                        display: inline-block;
                    }
                }
            }
        }
    }
}